[build]
  base = "frontend"
  publish = ".next"
  command = "npm run build"

[context.production.environment]
  NEXT_PUBLIC_API_URL = "https://zeeshann07-truthguard-backend.hf.space"
  PYTHON_VERSION = "3.11"
